@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";
@theme {
  --font-display: 'Righteous', cursive;
}
@layer base{
  html{
    font-family:var(--font-display)
  }
  body{
    background-color: black;
    overflow-x:hidden;
  }
}
